.Input {
  display: flex;
  flex-direction: column;
}

.Input__translation {
  margin: 3rem 0;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.Input__word {
  display: flex;
  margin: 3rem 0;
  justify-content: center;
}
