.Keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Keyboard__key {
  display: flex;
  width: 7rem;
  height: 7rem;
  justify-content: center;
  align-items: center;
}

.Keyboard__translation {
  position: absolute;
  font-size: 3rem;
  color: white;
  opacity: 0.3;
}
